.edit-time-modal_wrapper {
  display: flex;

  @media screen and (max-width: 400px) {
    flex-direction: column;
  }
}

.edit-time-modal_timezone-select {
  width: 170px;
  margin-right: 20px;

  @media screen and (max-width: 400px) {
    margin: 0 0 20px 0;
  }
}

.edit-time-modal_time-picker {
  max-width: 130px;
}
