.broadcast-url_wrapper {
  display: flex;
  align-items: center;
  & .ant-anchor-link {
    padding: 0;
  }
  & .ant-anchor-wrapper {
    margin-right: 7px;
    margin-left: -7px;
  }
  & .ant-anchor-ink::before {
    display: none;
  }
  & .broadcast-cell_edit-icon {
    cursor: pointer;
  }
}

.broadcast-url-cell_edit-icon {
  cursor: pointer;
}
