.list-schedule_wrapper {
  width: 100%;
}

.list-schedule_buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}

.list-schedule_list {
  max-width: 1000px;
  margin: 30px auto;
}

.list-schedule_checkbox {
  margin-right: 24px;
}
