.modalWindow_TwitterPicker {
  position: absolute !important;
  margin-top: 15px;
  z-index: 1;
}

.modalWindow_Select {
  width: 240px;
}

.modalWindow_Select_Divider {
  margin: 4px 0;
}

.modalWindow_InputContainer {
  display: flex;
  flex-wrap: nowrap;
  padding: 8px;
}

.modalWindow_addItemBtn {
  flex: none;
  padding: 8px;
  display: block;
  cursor: pointer;
}

.modalWindow_Input {
  flex: 'auto';
}
